@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed&display=swap");
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  padding: 0;
}
header {
  margin: 0 auto;
  height: 100px;
  background: linear-gradient(#8a8787, #0a0909);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 66vw;
}
#menu a{
    text-decoration: none;
    color: rgba(245, 222, 179,0.8);   
}
#menu a:hover{
    text-decoration: none;
    color: rgba(245, 222, 179);   
}
h1 a{
    text-decoration: none;
    color: rgba(245, 222, 179,0.8);   
}
h1 a:hover{
    text-decoration: none;
    color: rgba(245, 222, 179);   
}
#menu {
  margin: 0 auto;

  background: linear-gradient(#0a0909, #830202);
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 66vw;
  height: 5vh;
  
}
li{
list-style-image: url(../Images/arrow-right.svg);
}
.menuPont {
    text-align: center;
    width: 33vw;
}
h1,
h3 {
  color: beige;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
}
.main {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  max-width: 300vw;
  z-index: 1;
}

.kepJobb {
  transform: rotate(10deg);
}
#select {
  width: 300px;
}
#input {
  width: 300px;
  margin: 0 auto;
}
.content {
  font-size: 25px;
  text-align: center;
  width: 33vw;
}
.kepBal {
  transform: rotate(-15deg);
}
#almaTukros {
  transform: scaleX(-1);
}
img {
  max-height: 300px;
}
footer {
  margin: 0 auto;
  height: 100px;
  background: linear-gradient(#0a0909, #8a8787);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 800px;
}
#result {
  width: 300px;

  margin: 0 auto;
}

